.page {
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--font-w-text);
  background-color: var(--background-color-main);
  color: var(--accent-color);
  background-image: var(--image-bg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 4px 4px;
}

.content-width {
  margin: 0 auto;
  width: clamp(390px, 50vw + 100px, 700px);
  border: 2px solid var(--accent-color);
}

.content-background-color {
  background-color: var(--background-color-light);
}

.logo__page {
  text-align: center;
  font-family: var(--accent-font-family);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  margin-block-start: 136px;
}

.logo__page:focus {
  outline: none;
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__title {
  text-align: center;
  font-family: var(--accent-font-family);
  margin-block-end: 25px;
}

.theme-menu__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  appearance: none;
  transition: opacity 0.3s ease;
  position: relative;
  font-family: var(--accent-font-family);
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
  width: 14px;
  height: 14px;
}

.content__cards {
  display: grid;
  gap: 50px;
}

.card-title {
  font-variation-settings: 'wght' var(--font-w-title);
  line-height: normal;
  padding: 5px 10px;
  border-block-end: 2px solid var(--accent-color);
}

.card__images__wrapper {
  position: relative;
  border-block-start: 2px solid currentColor;
}

.card__tag {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  text-shadow: -1px 0 var(--background-color-main, oklch(100% 0 102.07)),
  1px 0 var(--background-color-main, oklch(100% 0 102.07)),
  0 1px var(--background-color-main, oklch(100% 0 102.07)),
  0 -1px var(--background-color-main, oklch(100% 0 102.07));
  mix-blend-mode: light;

  inset-inline-end: clamp(11px, -0.3221rem + 4.3077vw, 25px);

  inset-block-start: clamp(23px, 1.2933rem + 0.6154vw, 25px);
}

@supports (text-stroke: 1px var(--background-color-main, oklch(100% 0 102.07))) or
  (-webkit-text-stroke: 1px var(--background-color-main, oklch(100% 0 102.07))) {
  .card__tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color-main, oklch(100% 0 102.07));
    text-stroke: 1px var(--background-color-main, oklch(100% 0 102.07));
  }
}

.article-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  display: grid;
  gap: 28px;
  padding: 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.button__card {
  display: flex;
  justify-content: end;
  align-items: stretch;
  padding: 0 25px 23px 0;
  border-bottom: 0px solid var(--accent-color);
  gap: 0;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border-color 0.3s ease;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  min-width: 130px;
  padding: 0;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  background: var(--background-color-main);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12.6px;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__icon {
  z-index: 1;
  flex-shrink: 0;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer-button {
  display: grid;
  justify-items: center;
  gap: 57px;
  padding-block-end: 105px;
}

.button--save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  margin-block-start: 50px;
}

@media (width <= 375px) {
  .content-width {
    margin: 0;
  }

  .header {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .logo__page {
    margin-block-start: 120px;
  }

  .article-image {
    inline-size: 100%;
    block-size: 100%;
  }
}

.card__image--bright {
  filter: brightness(200%);
}

.card__image--contrast {
  filter: contrast(60%);
}

.card__image--opacity {
  filter: opacity(0.7);
}

.card__image--grayscale {
  filter: grayscale(0.7);
}

.card__image--saturate {
  filter: saturate(150%);
}

.card__image--hue-rotate {
  filter: hue-rotate(120deg);
}

.card__image--multi-filter {
  filter: sepia(70%) invert(65%) contrast(60%);
}

.dialog[open] {
  display: grid;
  gap: 30px;
  border: 2px solid var(--accent-color, oklch(0% 0 0));
  padding-inline: 30px;
  padding-block: 30px;
  overflow: hidden;
  background-color: var(--background-color-main, oklch(100% 0 102.07));
  inline-size: 100%;
  max-inline-size: 357px;
}

@media (width <= 375px) {
  .dialog[open] {
    padding-inline: 40px;
    max-inline-size: 340px;
  }
}

.dialog::backdrop {
  opacity: 75%;
  background-color: var(--color-backdrop, oklch(0% 0 0));
}

.dialog__message {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  color: var(--accent-color, oklch(0% 0 0));
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__floppy {
  block-size: 39px;
}

.dialog__button {
  display: grid;
  place-items: center;
  block-size: 38px;
  inline-size: 100%;
}