.page.theme-light {
    --background-color-main: #fff;
    --accent-color: #000;
    --font-w-title: 785;
    --font-w-text: 400;
    --gr-line-first: oklch(86.69% 0 0);
    --gr-line-second: oklch(86.69% 0 0 / 0%);
    --gr-solid-start: oklch(92.8% 0 0);
    --gr-solid-end: oklch(21.78% 0 0);
    --image-bg: repeating-linear-gradient(
            to right,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(
            to bottom,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    linear-gradient(to bottom, var(--gr-solid-start) 0.01%, var(--gr-solid-end));
}

.page.theme-dark {
    --background-color-main: #000;
    --accent-color: #00cc14;
    --background-image: var(--background-image-dark);
    --background-color-light: var(--background-color-dark);
    --button-text-color: #00cc14;
    --font-w-title: 785;
    --font-w-text: 465;
    --gr-line-first: oklch(0% 0 0);
    --gr-line-second: oklch(0% 0 0 / 0%);
    --gr-solid-start: oklch(51.72% 0.172 143.13);
    --gr-solid-end: oklch(33.23% 0.109 143.69);
    --image-bg: repeating-linear-gradient(
            to right,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(
            to bottom,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    linear-gradient(to bottom, var(--gr-solid-start), var(--gr-solid-end));
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #00cc14;
        --background-color-main: #000;
        --background-image: var(--background-image-dark);
        --background-color-light: var(--background-color-dark);
        --button-text-color: #00cc14;
        --font-w-title: 785;
        --font-w-text: 465;
        --gr-line-first: oklch(0% 0 0);
        --gr-line-second: oklch(0% 0 0 / 0%);
        --gr-solid-start: oklch(51.72% 0.172 143.13);
        --gr-solid-end: oklch(33.23% 0.109 143.69);
        --image-bg: repeating-linear-gradient(
                to right,
                var(--gr-line-first) 0 2px,
                var(--gr-line-second) 2px 4px
        ),
        repeating-linear-gradient(
                to bottom,
                var(--gr-line-first) 0 2px,
                var(--gr-line-second) 2px 4px
        ),
        linear-gradient(to bottom, var(--gr-solid-start), var(--gr-solid-end));
    }
}
