:root {
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'PressStart2P', fantasy;
    --font-w-title: 785;
    --font-w-text: 400;
    --background-color-main: #fff;
    --accent-color: #000;
    --background-image: url('../svg/pattern-light.svg');
    --background-image-dark: url('../svg/pattern-dark.svg');
    --background-color-light: #fff;
    --background-color-dark: #000;
    --color-backdrop: oklch(0% 0 0);
    --button-text-color: #fff;
    --like-fill-color: #ff0000;
    --gr-line-first: oklch(86.69% 0 0);
    --gr-line-second: oklch(86.69% 0 0 / 0%);
    --gr-solid-start: oklch(92.8% 0 0);
    --gr-solid-end: oklch(21.78% 0 0);
    --image-bg: repeating-linear-gradient(
            to right,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    repeating-linear-gradient(
            to bottom,
            var(--gr-line-first) 0 2px,
            var(--gr-line-second) 2px 4px
    ),
    linear-gradient(to bottom, var(--gr-solid-start) 0.01%, var(--gr-solid-end));
}